.section-events-wrapper {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  background-color: #FAF8F8;
}

.section-events-wrapper img {
  width: 100%;
  height: 80%;
}

.section-events-wrapper p {
  width: 100%;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}