header#headerGeral{
    position: absolute;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 1px;
    
    background: #FAF8F8;
    opacity: 0.4;
    box-shadow: 0px 4.10672px 4.10672px rgba(0, 0, 0, 0.25);
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

li{
    margin: 10px auto 0;
    list-style-type: none;
    /* AZUL MARINHO */

    color: #00183C;
}

.link{
    color: #00183C;
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 19.1441px;
}

.logoHeader{
    position: absolute;
    width: 204px;
    height: 86px;
    left: 28px;
    top: -8px;
}


